<h1>User info</h1>
<% if @user.errors.any? %>
<%= @user.errors.count %>error
<% @user.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="name">
    <p><strong>Name </strong><%= f.text_field :name %></p>
  </div>
  <div class="image">
    <p><strong>Image</strong></p>
    <%= f.attachment_field :profile_image, class: "user-edit-form" %>
  </div>
  <div class="Introduction">
    <p><strong>Intoroduction</strong><%= f.text_area :introduction %></p>
  </div>
  <%= f.submit "Update User", class:"submit" %>
<% end %>